# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest / coverage
.pytest_cache/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environment
.venv/
.venv*/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# HVK generated outputs
**/_cache/

# Dataset
CFIR10Dataset/

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out

main2/newHVK/datasets/

experiments/quantum_contribution/
Main/outputs/
Main/experiments/
Main2/outputs/
